<div class="row">
    <div class="col-8 offset-2">
        <h1>Select the post to read Edit Or Update</h1>
        <div class="card mb-2" *ngFor="let post of postsArray">
            <div class="card-header">
                <h2>{{post.title}}</h2>
            </div>
            <div class="card-body">
                <p>{{post.body}}... </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-success"
                
                [routerLink]="['/posts',post.id]"
                >Read More</button>
               
            </div>
        </div>
    </div>
</div>